.cgu {
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 150px;

  @include on-mobile {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  p {
    line-height: 1.6;
  }

  ul {
    li {
      font-weight: normal;
      font-family: $font-secondary;
      font-size: 18px;
      line-height: 1.6;
    }
  }
}
