.contact {
  padding-top: 16px;
  padding-bottom: 110px;
  display: flex;

  &__success {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    display: block;
  }

  @include on-mobile {
    section {
      margin-top: 40px;

      div {
        h2 {
          font-size: 16px;
          margin-bottom: 16px;
        }

        p {
          font-size: 10px;
          line-height: 16px;
        }
      }
    }

    section:last-child {
      margin-top: 40px;

      form {
        div {
          label {
            font-size: 16px;
            margin-bottom: 8px;
          }
        }

        button {
          font-size: 16px;
        }
      }
    }
  }

  @include on-tablet {
    flex-direction: column;

    section {
      margin: 50px 0;

      div {
        h2 {
          font-size: 24px;
          margin-bottom: 22px;
        }

        p {
          font-size: 18px;
        }
      }
    }

    section:last-child {
      margin: 0;

      div {
        label {
          font-size: 20px;
          margin-bottom: 16px;
        }
      }

      button {
        font-size: 17px;
      }
    }
  }

  @include on-desktop {
    section:first-child {
      display: flex;

      div {
        padding: 0 6%;
        padding-top: 0px;
        text-align: left;
        padding-top: 16%;

        h2 {
          font-size: 25px;
        }

        p {
          font-size: 22px;
          line-height: 40px;
          text-align: left;
        }
      }
    }

    img {
      object-fit: contain;
      height: auto;
      width: 100%;
    }

    section:last-child {
      form {
        div {
          label {
            font-size: 20px;
          }
        }
      }
    }
  }

  section {
    width: 50%;

    @include on-tablet {
      width: 100%;
    }
  }

  section + section {
    @include on-desktop {
      margin-left: 70px;
    }
  }

  button {
    font-family: "Viga", sans-serif;
    margin-left: auto;
    display: block;
  }

  .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;

    label {
      margin-bottom: 10px;
    }

    input {
      border: solid 2px $color-black;
      border-radius: 8px;
      padding: 16px;
      background-color: $color-beige;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
    }

    select {
      border: solid 2px $color-black;
      border-radius: 8px;
      padding: 16px;
      background-color: $color-beige;
      font-family: $font-primary;
      font-size: 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
      background-image: url("../../assets/images/Polygon-3.svg");
      background-repeat: no-repeat;
      background-position-x: 99%;
      background-position-y: 21px;
    }

    textarea {
      border: solid 2px $color-black;
      border-radius: 8px;
      padding: 16px;
      background-color: $color-beige;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
    }

    input,
    textarea,
    select {
      outline: none;
      color: #A5A398;
    }

    input:focus,
    textarea:focus,
    select:focus {
      border: solid 2px #000;
    }
  }
}
