.contact {
  padding-top: 16px;
  padding-bottom: 110px;
  display: flex;

  &__success {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    display: block;
  }

  @include on-tablet {
    flex-direction: column;
  }

  section {
    width: 50%;

    @include on-tablet {
      width: 100%;
    }
  }

  section + section {
    @include on-desktop {
      margin-left: 70px;
    }

    @include on-tablet {
      margin-top: 60px;
    }
  }

  button {
    font-family: 'Viga', sans-serif;
    margin-left: auto;
    display: block;
  }

  .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;

    label {
      margin-bottom: 18px;
    }

    input {
      border: solid 2px $color-black;
      border-radius: 8px;
      padding: 16px;
      background-color: $color-beige;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
    }

    select {
      border: solid 2px $color-black;
      border-radius: 8px;
      padding: 16px;
      background-color: $color-beige;
      font-family: $font-primary;
      font-size: 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='45' viewBox='0 0 24 24' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 5px;
    }

    textarea {
      border: solid 2px $color-black;
      border-radius: 8px;
      padding: 16px;
      background-color: $color-beige;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
    }

    input,
    textarea,
    select {
      outline: none;
    }

    input:focus,
    textarea:focus,
    select:focus {
      border: solid 2px #000;
      color: #000;
    }
  }
}
