@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.home {
  .hero {
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 931px;

      @include on-mobile {
        height: calc(84vh - 80px);
        object-fit: cover;
        object-position: left;
      }
    }

    &__scroll-arrow {
      animation: bounce 1s infinite;
      margin: 0 auto;
      text-align: center;
      margin-top: 40px;

      &:hover {
        cursor: pointer;
      }

      @include on-mobile {
        transform: translateY(calc(-100% - 80px));
      }
    }
  }

  .presentation {
    .slide-in-bottom {
      -webkit-animation: slide-in-bottom 1.1s linear both;
      animation: slide-in-bottom 1.1s linear both;
    }

    .text-focus-in {
      -webkit-animation: slide-in-bottom text-focus-in 0.4s
        cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation: slide-in-bottom text-focus-in 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53)
        both;
    }

    padding: 150px 70px 110px 0;
    display: flex;

    @include on-tablet {
      flex-direction: column;
      padding: 150px 0 110px 0;
    }

    @include on-mobile {
      padding: 50px 0 110px 0;
    }

    &__img {
      width: 33%;
      background-color: $color-orange;
      position: relative;

      @include on-tablet {
        width: 100%;
      }

      @include on-mobile {
        width: calc(100% - 60px);
        margin: auto;
      }

      img {
        width: 100%;
        transform: translateX(60px);
        margin: 60px 0;
        object-fit: cover;
        height: calc(100% - 120px);

        @include on-tablet {
          width: calc(100% - 60px);
        }

        @include on-mobile {
          width: calc(100% - 40px);
          transform: none;
          margin: 40px 0 40px 40px;
          height: calc(100% - 80px);
        }
      }

      span {
        color: $color-white;
        position: absolute;
        top: 10px;
        left: 30px;
        font-family: $font-secondary;
        font-weight: bold;
      }
    }

    &__content {
      width: calc(66% - 100px);
      margin-left: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include on-tablet {
        width: 100%;
        margin: 100px 0 0 0;
        padding: 0 30px;
      }

      &__values {
        display: flex;
        justify-content: center;
        margin: 60px 0;

        li {
          padding: 0 26px;
          text-align: center;

          p {
            font-family: "Viga";
            font-weight: 400;
          }
        }

        li + li {
          border-left: solid 1px $color-black;
        }
      }

      &__button {
        margin-top: 50px;
      }
    }
  }
}
