.projects {
  padding-top: 64px;
  padding-bottom: 110px;
  text-align: center;

  &__title {
    margin-bottom: 100px;
    text-align: left;
  }

  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -35px;

    &__project {
      flex: 0 0 40%;
      padding: 0 35px;
      color: $color-black;
      text-decoration: none;
      overflow: hidden;

      @include on-tablet {
        height: 33vh;
      }

      @include on-mobile {
        flex: 0 0 100%;
        height: 50vh;
      }

      &:hover {
        h2 {
          visibility: visible;
        }

        img {
          transform: scale(1.2);
        }
      }

      @include on-mobile {
        width: 100%;
      }

      &__img {
        max-width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: all 0.2s;
        }
      }

      h2 {
        display: inline-block;
        margin-top: 30px;
        visibility: hidden;

        @include on-tablet {
          visibility: visible;
        }
      }
    }
  }
}
