.project {
  padding-top: 64px;
  padding-bottom: 110px;
  text-align: center;

  &__title {
    margin-bottom: 100px;
    text-align: left;
  }

  &__grid {
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: row dense;
    grid-gap: 32px;
    margin-bottom: 100px;


    &__first {
      // width: 30%;
    }

    &__before-after {
      grid-column: 3 / 4;
      grid-row: 1 / 4;
    }

    div {
      img {
        object-fit: cover;
        height: inherit;
        width: 100%;
      }
    }
  }
}
