.projects {
  padding-top: 150px;
  padding-bottom: 110px;
  text-align: center;

  &__title {
    margin-bottom: 100px;
    text-align: left;
  }

  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -35px;

    &__project {
      width: 50%;
      height: 50vh;
      padding: 0 35px;
      margin-bottom: 100px;
      color: $color-black;
      text-decoration: none;

      @include on-mobile {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        background-color: $color-orange;
        color: $color-orange;
        margin-bottom: 10px;
      }

      h2 {
        visibility: hidden;

        @include on-tablet {
          visibility: visible;
        }
      }

      img:hover + h2 {
        visibility: visible;
      }
    }
  }
}
