.project {
  padding-top: 64px;
  padding-bottom: 110px;
  text-align: center;

  &__title {
    margin-bottom: 100px;
    text-align: left;
  }

  &__first {
    grid-area: a;

    img {
      object-fit: cover;
      height: inherit;
      width: 100%;
    }
  }

  &__hexa {
    border: 1px solid #fff;
    grid-area: b;
    padding: 2% 0 22% 2%;
    color: #fff;
    text-align: left;
    width: 36%;
  }

  &__before-after {
    grid-area: c;

    img {
      object-fit: cover;
      height: inherit;
      width: 100%;
    }
  }

  &__grid {
    display: grid;
    justify-items: stretch;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
      "a b c"
      "a . c";
    grid-gap: 32px;
    margin-bottom: 100px;
  }
}