.project {
  padding-top: 64px;
  padding-bottom: 110px;
  text-align: center;

  p {
    font-family: "Viga", sans-serif;
  }

  a {
    color: #000;
    background-color: #f6f4e1;
  }

  .hydrated {
    height: inherit;

    div {
      height: inherit;
    }
  }

  img-comparison-slider.image-slider::part(native) {
    div {
      height: 100%;
    }
  }

  .image-slider {
    height: 100%;

    div {
      height: 100%;
    }
  }

  &__title {
    margin-bottom: 100px;
    text-align: left;
  }

  &__grid {
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(25%, auto));
    grid-auto-rows: 100px;
    grid-auto-flow: row dense;
    grid-gap: 32px;
    margin-bottom: 100px;

    div {
      text-align: left;
      height: 100%;

      img {
        object-fit: fill;
        max-height: 100%;
        max-width: 100%;
      }
    }

    &__first {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    &__hexa {
      border: 1px solid #fff;
      padding: 2% 0 22% 2%;
      color: #fff;
      text-align: left;
      width: 26%;
      grid-row: 1 / 2;
    }

    &__before-after {
      height: 100%;
      grid-column: 3 / 4;
      grid-row: 1 / 6;

      div img {
        object-fit: cover;
        width: 100%;
      }
    }

    &__vertical {
      grid-row: auto / span 2;
    }

    &__horizontal {
      grid-row: auto / span 3;
    }
  }

  @include on-mobile {
    &__grid {
      display: block;

      div {
        margin-bottom: 16%;
      }

      &__hexa {
        margin: 0 auto;
        width: 40%;
      }
    }
  }
}

.slider__handle {
  top: 100% !important;
}
