.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;

  &__box {
    background-color: $color-red;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 40px;

    p,
    a {
      color: $color-beige;
      font-family: $font-secondary;
      font-size: 16px;
    }

    p + p,
    a + a {
      padding-left: 40px;
    }

    .icon-rs {
      height: 25px;
      padding-top: 1px;
    }

    &--link {
      a + a {
        padding-left: 0;
        margin-left: 100px;
      }
    }
  }

  @include on-tablet {
    background-color: $color-red;
    padding: 0;
    flex-direction: column;

    &__box:first-of-type {
      order: 3;
    }

    &__box--link {
      a + a {
        padding-left: 40px;
        margin-left: 0;
      }
    }
  }

  @include on-desktop {
    &__box {
      &--link {
        width: 23%;
        padding: 8px 60px;

        a:last-child {
          margin-left: auto;
        }
      }
    }
  }
}
