.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;

  &__box {
    background-color: $color-red;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 40px;

    p,
    a {
      color: $color-beige;
      font-family: $font-secondary;
      font-size: 20px;
    }

    p + p,
    a + a {
      padding-left: 40px;
    }
  }

  @include on-tablet {
    background-color: $color-red;
    padding: 0;
    flex-direction: column;

    &__box:first-of-type {
      order: 3;
    }
  }
}
