.lightbox {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  @include on-tablet {
    background: black !important;
  }

  &__image {
    height: 100%;
    width: initial !important;
  }

  &__left-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 3;
    transform: translate(100%, -50%);
    background-color: $color-beige;
    border-radius: 8px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    svg {
      margin-right: 5px;
    }

    @include on-tablet {
      display: none;
    }
  }

  &__right-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 3;
    transform: translate(-100%, -50%);
    background-color: $color-beige;
    border-radius: 8px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    svg {
      margin-left: 5px;
    }

    @include on-tablet {
      display: none;
    }
  }

  &__count {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 80px;
    font-size: 25px;
  }

  .slick-slider {
    height: 60%;
    transform: translateY(30%);

    .slick-list {
      height: 100%;

      .slick-track {
        height: 100%;

        .slick-slide div {
          height: 100%;
        }
      }
    }
  }
}
