.lightbox {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;

  &__left-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 3;
    transform: translate(100%, -50%);
    background-color: $color-beige;
    border-radius: 8px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    svg {
      margin-right: 5px;
    }

    @include on-tablet {
      display: none;
    }
  }

  &__right-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 3;
    transform: translate(-100%, -50%);
    background-color: $color-beige;
    border-radius: 8px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    svg {
      margin-left: 5px;
    }

    @include on-tablet {
      display: none;
    }
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__img {
      max-width: 75%;
      height: 100%;
      display: flex;

      @include on-tablet {
        width: calc(100% - 30px);
        max-width: calc(100% - 30px);
      }
    }
  }

  .carousel {
    .slide {
      background: none;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .carousel-root {
    width: 100%;
  }
}
