.lightbox {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;

  &__left-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 3;
    transform: translate(100%, -50%);
    &:hover {
      cursor: pointer;
    }

    @include on-mobile {
      display: none;
    }
  }

  &__right-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 3;
    transform: translate(-100%, -50%);
    &:hover {
      cursor: pointer;
    }

    @include on-mobile {
      display: none;
    }
  }

  &__cross {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    transform: translate(-100%, 100%);
    &:hover {
      cursor: pointer;
    }
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel {
    .slide {
      background: none;

      img {
        max-width: 80vw;
        width: 100%;
      }
    }
  }
}
