a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.h1 {
  display: inline;
  font-size: 26px;
  line-height: 39px;
}

.h2 {
  display: inline;
  font-size: 25px;
  line-height: 34px;
}

.h3 {
  display: inline;
  font-size: 20px;
  line-height: 27px;
}

.subtitle {
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 23px;
}

.small-text {
  font-size: 13px;
  line-height: 17px;
  opacity: 0.5;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.paragraph {
  font-family: $font-secondary;
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
}

p {
  font-family: $font-secondary;
  font-size: 18px;
}

.paragraph + .paragraph {
  padding-top: 16px;
}

.error {
  display: block;
  color: $color-red;
  margin-top: 16px;
}

.graduated {
  position: relative;
}

.graduation {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(8px);
  border-bottom: solid 1px $color-black;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    height: 8px;
    transform: translateY(-50%);
    border-left: solid 1px $color-black;
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    height: 8px;
    transform: translateY(-50%);
    border-right: solid 1px $color-black;
  }
}
