* {
  box-sizing: border-box;
}

.container {
  padding: 0 60px;

  @include on-tablet {
    padding: 0 70px;
  }

  @include on-mobile {
    padding: 0 30px;
  }
}

body {
  background-color: $color-beige;
  font-family: $font-primary;
  font-size: 16px;
  color: $color-black;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

.hide--tablet {
  @include on-tablet {
    display: none !important;
  }
}

.is_header_mobile {
  overflow: hidden;
}

.mb--10 {
  margin-bottom: 10px;
}

.mb--16 {
  margin-bottom: 16px;
}

.mb--30 {
  margin-bottom: 30px;
}

.mb--100 {
  margin-bottom: 100px;
}

.mt--50 {
  margin-top: 50px;
}

.pointer {
  cursor: pointer;
}
