$color-beige: #f6f4e1;
$color-orange: #e75b0d;
$color-red: #a11842;
$color-bleu: #71c4e1;
$color-black: black;
$color-white: #fefefe;

// Fonts
$base-font-size: 16;
$font-primary: "Viga", sans-serif;
$font-secondary: "Roboto", sans-serif;

// Breakpoints
$desktop: 992px;
$tablet: 991px;
$mobile: 767px;
