// Abstract
@import "abstract/variables";
@import "abstract/mixins";

// Scaffolding
@import "scaffolding/reset";
@import "scaffolding/base";

// Components
@import "components/texts";
@import "components/buttons";
@import "components/footer";
@import "components/loader";
@import "components/slider";

// Views
@import "views/home";
@import "views/projects";
@import "views/project";
@import "views/contact";
@import "views/cgu";
